body {
  background: url('/static/image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: auto;
  justify-content: center;
  overflow: hidden;
}

.frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px auto;
  margin-left: 80vh;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 700px;
  border-radius: 15px;
  background-color: #161834;
}

.frame2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
  margin-left: 10vh;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 400px;
  border-radius: 15px;
  background-color: #161834;
}


.number-input {
  display: none;
}

.number-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 1px; 
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: white; /* Update text color to white */
  border-radius: 15px;
}

.number-label:hover {
  border: 3px solid #e4e5e6;
}
.row {
  display: flex;
  justify-content: center;
  
}

.cell {
  width: 50px;
  height: 50px;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  background-color: white;
  border: 1px solid #bcbbbb;
  margin: 1px;
  padding: auto;
  border-radius: 5px;
}

.cell.yellow {
  background-color: yellow;
  color: black; /* Change text color to black for better visibility on yellow background */
}

.cell.green {
  background-color: green;
  color: white; /* Change text color to white for better visibility on green background */
}

.cell .highlight {
  background-color: yellow;
  padding: 2px;
}

.spin-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-weight: bold;
  background-color: #f4f4f4;
  margin:auto;
  padding: 10px;
  border-radius: 5px;
}

.empty-cell {
  width: 60px;
  height: 60px;
}

#spin-predictor-label {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  color: white;
}

#status-label {
  color: white;
  margin-top: 5px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.button {
  display: block;
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.button{
  display: flex;
  justify-content: center;

}
#reset-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 15px 40px; /* Increase the padding to make the button larger */
  font-size: 18px; /* Increase the font size for better visibility */
  border-radius: 10px; /* Add border-radius to round the corners */
  transition: background-color 0.3s ease;
  width: 100px;
  margin-left: -450px;
  margin-top: 320px;
}

#reset-button:hover {
  background-color: #d20303; /* Update the hover background color to a darker shade of red */
}

.extra-column {
  color: white;
  margin-left: 15px;
  font-size: 15px;
  font-weight: bold; /* Set font weight to bold */
  transform: rotate(270deg); /* Rotate the entire cell by 180 degrees */
}

@media screen and (max-width: 768px) {
  /* Responsive styles for screens with a maximum width of 768px */
  .number-label {
    width: 50px;
    height: 50px;
    font-size: 16px;
  }
  .cell {
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
  }

  .spin-count {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }

  .empty-cell {
    width: 40px;
    height: 40px;
  }
}

#main-table {
  padding: 60px;
  border-radius: 15px;
  overflow: auto; /* Add overflow property to enable horizontal scrolling on small screens */
  margin-top: 10px; /* Add margin-top to create space at the top */
} 

#number-frame-container {
  display: flex;
  justify-content: center; /* Center the number frame horizontally */
  align-items: center; /* Center the number frame vertically */
  height: 100%;
  width: 1100px;
}

#image-container {
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#image-container img {
  width: 200px; /* Adjust the image width to fit within the container */
  height: 230px; /* Allow the image height to adjust proportionally */
}

